* , *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(5, 4, 4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.logo {
    cursor: pointer;
    color: #f1f1f1 !important;
    font-weight: 800 !important;
    font-size: 24px;
}

.nav-items li{
    position: relative;
    display: inline-block;
    padding: 0 25px;
}

.nav-items a {
    position: relative;
    letter-spacing: 0.5px;
    font-size: 16px;
}


.nav-items a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #ff3c78;
    bottom: -6px;
    left: 0;
    transition: all 0.7s ease;
}

.nav-items a:hover {
    color: #f1f1f1;
}

.nav-items a:hover::after {
    width: 100%;
}

.search button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #52cceb;
    color: black;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(67, 235, 247);
}

.nav-items-dropdown__menu{
    display: none;
}

.nav ul li:hover .nav-items-dropdown__menu {
    display: block;
    position: absolute;
    background-color: rgb(5, 4, 4);
    left: 0;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.nav ul li:hover .nav-items-dropdown__menu ul {
    display: block;
    margin: 12px;
}

.nav ul li:hover .nav-items-dropdown__menu ul li {
    padding: 12px;
}